body{
	margin: 0px;
	
}

.background {

	width: 100%;
	height: 80px;
	
}
.logoa{
	margin-top: -47px;
	margin-left: 150px;
}
.logoa img{
	width: 90px;
	height: auto;

}
.background1 img{
	
	width: 100%;
	height: 80px;
}
.top-footer {
	margin-top: -75px;
	margin-left: 270px;
	
}
.top-footer-left{
	color: rgb(4, 117, 154);
	margin-top: -14px;
	font-size: 16px;
	
}
.top-footer1{
	margin-top: -8px;
	margin-left: 270px;	
	font-size: 14px;
}


.footer-1{
	width: 100%;
	height: 100%;
	background-image: linear-gradient(to right, #045FB4, #0489B1);
/*	background-color: rgba(28, 154, 202, 1.0);*/
}
.footer-tong{
	
	width: 960px;
	position: relative;
    margin: 0 auto;
    height: 10px;
    text-decoration: none;
}
.group1{
	width: 196px;
    height: 225.35px;
    top: 60.6px;
    left: 1.5px;
    position: absolute;
}
.group-top11{
	width: 100%;
    height: 100%;
    position: absolute;
   
}
.paragraph{
	color: rgb(206, 151, 11);
    font-size: 16px;
    font-weight: bold;
    line-height: 1.6;


}
.group-top11 a p{
	font-size: 13px;
	text-decoration: none;

}
.group-top11 a{
	color: #FFFFFF;
	text-decoration: none;
}

.group2{
	width: 203px;
    height: 167.35px;
    top: 0.6px;
    left: 206.5px;
    position: absolute;
}
.group3{
	    width: 203px;
    height: 84px;
    top: 0.6px;
    left: 411.5px;
    position: absolute;
}
.group4{
	    width: 203px;
    height: 55px;
    top: 0.6px;
    left: 620.5px;
    position: absolute;
}
.group5{
	width: 203px;
    height: 84px;
    top: 0.6px;
    left: 795.5px;
    position: absolute;
}

.group-top11 a p:hover{
 color: rgb(206, 151, 11);
}	
.group-top2  p:hover{
	color: rgb(206, 151, 11);
}
.group-top2 p{
	margin-top:-5px;
}




.between-top{
	margin-top: -30px;
	width: 100%;
	height: 580px;


}
.between-tong{
	width: 960px;
	position: relative;
    margin: 0 auto;
    
    		
}
.between-left{
	width: 250.574px;
    height: 32.805px;
    top: 332.145px;
    left: -1px;
    position: absolute;
}
.between-left-top{
	width: 100%;
    height: 100%;
    position: absolute;
}
.between-left-top img{
	width: 102px;
	height: 36px;
}

.between-left-top1{
	color: #FFFFFF;
	text-decoration: none;
	margin-top: 30px;
}
.icon-between{
	margin-top: 20px;
	width: 35px;
    height: 35px;
    top: 0px;
    left: 0px;
    float: left;
    margin-left: 10px;
   
}

.icon-between1{
	border-style: solid;
    border-color: rgba(255, 255, 255, 0.5);
    border-width: 1px;
    border-radius: 1000px;

}
.icon-between-left  {
	height: 30px;
	color:  #FFFFFF;
	text-align: center;
	text-decoration: none;
}
.icon-between-left i{
	color: #FFFFFF;
	text-decoration: none;
}
.icon-between-cuoi{
	float: left;
	color: #FFFFFF;
	margin-top: 20px;
	text-decoration: none;
}
.icon-between-cuoi1{
	font-size: 13px;
	margin-left: 10px;
	float: left;
	text-decoration: none;
}
.icon-between-cuoi1 p{
	color: #FFFFFF;
	text-decoration: none;
}
.icon-ngang{
	border-left: 1px solid rgb(255, 255, 255);
    height: 16px;
    top: 1.5px;
    left: 37px;
    float: left;
    margin-top: 3px;
    margin-left: 5px;
}
.between-center{
	width: 456.448px;
    height: 101.201px;
    top: 341.749px;
    left: 275.052px;
    position: absolute;
}
.between-center-top{
	width: 100%;
    height: 100%;
    position: absolute;

}
.between-center-top1{
	margin-top: 30px;
	color: #FFFFFF;

}
.icon-phone-top i{
	color: #FFFFFF;
	float: left;
}
.text-between{
	margin-left: 25px;
	
	font-size: 13px;
}
.between-center-top2 div{
	margin-left: 25px;
	margin-top: -8px;
	color: #FFFFFF;
}
.between-center-top3 {
	
	color: #FFFFFF;
}
.icon-phone-top1{
	margin-top: -10px;
}
.text-between1{
	font-size: 13px;
	margin-left: 25px;
	margin-top: -20px;	
}
.text-between b:hover {
 	color: rgb(206, 151, 11);
}
.text-between1 b:hover{
	color: rgb(206, 151, 11);
}
.center-top-between img{
	width: 450px;
	height: auto;
}
.between-footer-left{
	width: 145.052px;
    height: 52.6351px;
    top: 474.508px;
    left: 278px;
}
.between-footer-left-top{   
	position: absolute;
    width: 100%;
    height: 100%;
}
.app-icon img{
	margin-top: 25px;
	width: 60px;
	height: auto;
}
.left-footer1{

	width: 90px;
	font-size: 13px;
	color: #FFFFFF;
	margin-top: -50px;
	margin-left: 70px
}
.left-footer1 p{
 margin-top: -13px;
}
.app-left{

	float: left;
	margin-top: 4px;

}
.app-chplay img{
	width: 120px;
	height: auto;
	margin-left: 180px;
	margin-top: 30px;
}
.app-appstore img{
	margin-left: 310px;
	margin-top: -80px;
	width: 120px;
	height: auto;
}
.between-right{
	width: 276.448px;
    height: 101.201px;
    top: 341.749px;
    left: 715.052px;
    position: absolute;
}
.between-right-top{
	margin-top: 50px;
	margin-left: 35px;
	position: absolute;
    width: 100%;
    height: 100%;
}
.icon-right1 img{
	float: left;
	width: 90px;
	height: auto;
}
.icon-right2 img{
	margin-left: 20px;
	float: left;
	width: 40px;
	height: auto;
}
.icon-right3 img{
	margin-left: 20px;
	width: 40px;
	height: auto;

}
.text-thuong p{
	font-size: 13px;
	color: #FFFFFF;
	margin-left: 80px;
	margin-top: 20px;
}
.text-thuong p:hover{
	color: rgb(206, 151, 11);
}




.hr-footer-tong{

	width: 960px;
	position: relative;
    margin: 0 auto;
    height: 250px;
    text-decoration: none;
}
.hr-footer-tong-top{
	width: 100%;
    height: 100%;
    position: absolute;
}
.hr-ngang{
	float: right;
	width: 960px; 
    top: 544.1px;
    left: 0px;

}
hr{
	margin-top:25px;
	color: #FFFFFF;
	background-color: #FFFFFF
}
.last-footer{
	margin-top: 60px;
	text-align: center;
	width: 900px;
	font-size: 13px;
	margin-left: 20px;
	color: #FFFFFF;
}
.last-footer p{
	margin-top: -11px;
}
.last-footer-last img{
	margin-left: 20px;
}