*{
    margin:0px;
    padding:0px;
}
body{
    max-width:1360px;
    margin:auto;
    background-color: #f5f5f3;
}
.main-nu{
    margin-top: -16px;
    width: 100%;
    height: 602px;
}
.ngang{
    width: 965px;
    height: 600px;
    margin-left: 155px;
}
.ngang1{
    width: 965px;
    height: 460px;
    margin-left: 155px;

}
.ngang hr{
	text-align: left;
    font-size: 10px;
}
.thanhngang{
    margin-top: 0px;
    font-family: "Open Sans", sans-serif;
}
.GD1{
    font-size: 60px;
    color:  rgb(0, 96, 110);
    margin-left: 120px;
    font-size: 50px;
}
.GĐ{
    font-size: 30px;
    color:  rgb(0, 96, 110);
    margin-left: 191px;
    margin-top: -50px;
}
.vip{
    margin-left: 120px;
    margin-top: 20px;
    font-size: 30px;
    color:  rgb(0, 96, 110);
}
#m1{
    font-family: "Open Sans", sans-serif;
    width:235.167px;
    height:380.449px;
    background:white;
    -webkit-box-shadow: 0 6px 6px -6px black;
       -moz-box-shadow: 0 6px 6px -6px black;
            box-shadow: 0 6px 6px -6px black;
    display:flex;
    flex-direction:column;
    position:relative;
    overflow: hidden;
    margin-top: 25px;
    float: left;
    margin-left: 6px;
}
#m1:before{
    content:'';
    position:absolute;
    top:-25px;
    left:-30px;
    width:290px;
    height:115px;
    border-radius:50%;
    background:#008080;
    z-index: -0.5;
}
#m1 h3{
    z-index: 1;
    color: white;
    font-size: 33px;
    text-align: center;
    margin-top: 20px;
}
.l-nu{
    background-color: #c49c35;
    width:200px;
    height:48px; 
    margin-top: 53px;
    margin-left: 17px;
    margin-right: 0px;
    border-radius: 6px 6px 6px 6px;
    text-align: center;
}
.l-nu1{
    background-color: #c49c35;
    width:200px;
    height:48px; 
    margin-top: 79px;
    margin-left: 17px;
    margin-right: 0px;
    border-radius: 6px 6px 6px 6px;
    text-align: center;
}
.left {
    margin-top: 14px;
    color: white;
    font-size: 18px;
}
#m1 h5{
    margin-top: 78px;
    color:#008080;
    font-size: 18px;
    text-align: center;
}
#m1 a{
    margin-left: 30px;
    margin-top: -4px;
    font-size: 22px;
}
#m1 span{
    margin-top: 5px;
    margin-left: 14px;
    font-size: 14px;
}
#m1 s{
    margin-left: 30px;
    margin-top: 15px;
    font-size: 22px;
}
.GĐ11{
    font-size: 30px;
    color:  rgb(0, 96, 110);
    margin-left: 111px;
    margin-top: 10px;

}
.l-nu111{
     background-color: #c49c35;
    width:200px;
    height:48px; 
    margin-top: 0px;
    margin-left: 17px;
    margin-right: 0px;
    border-radius: 6px 6px 6px 6px;
    text-align: center; 
}
.m111{
    font-family: "Open Sans", sans-serif;
    width:235.167px;
    height:359.449px;
    background:white;
    -webkit-box-shadow: 0 6px 6px -6px black;
       -moz-box-shadow: 0 6px 6px -6px black;
            box-shadow: 0 6px 6px -6px black;
    display:flex;
    flex-direction:column;
    position:relative;
    overflow: hidden;
    margin-top: 5px;
    float: left;
    margin-left: 6px;
}
.top-1{
    margin-top: -38px;
}
.l-nu12{
     background-color: #c49c35;
    width:200px;
    height:48px; 
    margin-top: 25px;
    margin-left: 17px;
    margin-right: 0px;
    border-radius: 6px 6px 6px 6px;
    text-align: center; 
}
.l-nu123{
     background-color: #c49c35;
    width:200px;
    height:48px; 
    margin-top: 52px;
    margin-left: 17px;
    margin-right: 0px;
    border-radius: 6px 6px 6px 6px;
    text-align: center; 
}